html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}


/* Basic */

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #2e3141;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../images/unsplash_socialcut.jpg");
    background-size: auto,
cover;
    background-attachment: fixed,
fixed;
    background-position: center,
center;
}

    body.is-preload *, body.is-preload *:before, body.is-preload *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }


/* Type */

body, input, select, textarea {
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16.5pt;
    font-weight: 300;
    line-height: 1.65;
}

    @media screen and (max-width: 1680px) {

        body, input, select, textarea {
            font-size: 13pt;
        }

    }

    @media screen and (max-width: 1280px) {

        body, input, select, textarea {
            font-size: 12pt;
        }

    }

    @media screen and (max-width: 980px) {

        body, input, select, textarea {
            font-size: 12pt;
        }

    }

    @media screen and (max-width: 736px) {

        body, input, select, textarea {
            font-size: 12pt;
        }

    }

    @media screen and (max-width: 480px) {

        body, input, select, textarea {
            font-size: 12pt;
        }

    }

a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
    color: #ffffff;
    text-decoration: none;
}

    a:hover {
        border-bottom-color: transparent;
        color: #ffffff !important;
    }

    a.special:not(.button) {
        text-decoration: none;
        border-bottom: 0;
        display: block;
        font-family: Raleway, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin: 0 0 2em 0;
        text-transform: uppercase;
    }

        a.special:not(.button):before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            text-transform: none !important;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }

        a.special:not(.button):before {
            -moz-transition: background-color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out;
            border-radius: 100%;
            border: solid 2px rgba(255, 255, 255, 0.125);
            content: '\f105';
            display: inline-block;
            font-size: 1.25em;
            height: 2em;
            line-height: 1.75em;
            margin-right: 0.85em;
            text-align: center;
            text-indent: 0.15em;
            vertical-align: middle;
            width: 2em;
        }

        a.special:not(.button):hover:before {
            background-color: rgba(255, 255, 255, 0.025);
        }

        a.special:not(.button):active:before {
            background-color: rgba(255, 255, 255, 0.075);
        }

strong, b {
    color: #ffffff;
    font-weight: 600;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
        text-decoration: none;
        border-bottom: 0;
    }

    h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
        font-weight: 200;
    }

    h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
        padding-bottom: 1em;
        border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    }

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 0.9em;
}

h4 {
    font-size: 0.7em;
}

h5 {
    font-size: 0.7em;
}

h6 {
    font-size: 0.7em;
}

@media screen and (max-width: 736px) {

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.8em;
    }

}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 4px rgba(255, 255, 255, 0.125);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

    pre code {
        display: block;
        line-height: 1.75em;
        padding: 1em 1.5em;
        overflow-x: auto;
    }

hr {
    border: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    margin: 2.5em 0;
}

    hr.major {
        margin: 4em 0;
    }

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}
    
/* Header */

#header {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(53, 56, 73, 0.95);
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    padding: 0 1.25em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

    #header h1 {
        -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s;
        -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s;
        -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s;
        transition: opacity 0.2s ease-in-out, visibility 0.2s;
        border-bottom: 0;
        font-size: 0.8em;
        margin-bottom: 0;
        opacity: 1;
        visibility: visible;
    }

        #header h1 a {
            border: 0;
        }

    #header nav {
        font-family: Raleway, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 700;
        height: 3em;
        letter-spacing: 0.1em;
        line-height: 3em;
        position: absolute;
        right: 0.7em;
        text-transform: uppercase;
        top: 0.7em;
    }

        #header nav a {
            border: 0;
            display: inline-block;
            padding: 0 1em;
        }

            #header nav a:before {
                float: right;
                margin-left: 0.75em;
            }

            #header nav a[href="#menu"] {
                text-decoration: none;
                -moz-transition: background-color 0.2s ease-in-out;
                -webkit-transition: background-color 0.2s ease-in-out;
                -ms-transition: background-color 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out;
                border-radius: 5px;
                box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
                padding: 0 1.35em;
            }

                #header nav a[href="#menu"]:before {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    text-transform: none !important;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }

                #header nav a[href="#menu"]:before {
                    content: '\f0c9';
                    line-height: inherit;
                }

                #header nav a[href="#menu"]:hover {
                    background-color: rgba(255, 255, 255, 0.025);
                }

                #header nav a[href="#menu"]:active {
                    background-color: rgba(255, 255, 255, 0.075);
                }

    #header.alt {
        background-color: transparent;
    }

        #header.alt h1 {
            opacity: 0;
            visibility: hidden;
        }

    @media screen and (max-width: 736px) {

        #header {
            height: 2.75em;
            line-height: 2.75em;
        }

            #header nav {
                top: 0;
                right: 0;
                height: inherit;
                line-height: inherit;
            }

                #header nav a {
                    height: inherit;
                    line-height: inherit;
                }

                    #header nav a[href="#menu"] {
                        box-shadow: none;
                        padding: 0 1em;
                        border-radius: 0;
                    }

                        #header nav a[href="#menu"]:hover, #header nav a[href="#menu"]:active {
                            background-color: inherit;
                        }

    }

    @media screen and (max-width: 480px) {

        #header nav a[href="#menu"] {
            width: 4em;
            white-space: nowrap;
            text-indent: 4em;
            position: relative;
        }

            #header nav a[href="#menu"]:before {
                width: inherit;
                position: absolute;
                top: 0;
                left: 0;
                text-indent: 0;
                text-align: right;
                margin-left: 0;
                padding-right: 1.25em;
            }

    }

/* Menu */
#page-wrapper {
    -moz-transition: -moz-filter 0.25s ease;
    -webkit-transition: -webkit-filter 0.25s ease;
    -ms-transition: -ms-filter 0.25s ease;
    transition: filter 0.25s ease;
}

#menu {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    pointer-events: none;
    -moz-transition: opacity 0.35s ease, visibility 0.35s;
    -webkit-transition: opacity 0.35s ease, visibility 0.35s;
    -ms-transition: opacity 0.35s ease, visibility 0.35s;
    transition: opacity 0.35s ease, visibility 0.35s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: rgba(46, 49, 65, 0.8);
    cursor: default;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
}

    #menu .inner {
        padding: 2.5em 1.5em 0.5em 1.5em ;
        -moz-transform: translateY(0.5em);
        -webkit-transform: translateY(0.5em);
        -ms-transform: translateY(0.5em);
        transform: translateY(0.5em);
        -moz-transition: opacity 0.35s ease, -moz-transform 0.35s ease;
        -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
        -ms-transition: opacity 0.35s ease, -ms-transform 0.35s ease;
        transition: opacity 0.35s ease, transform 0.35s ease;
        -webkit-overflow-scrolling: touch;
        background: #4c5c96;
        border-radius: 5px;
        display: block;
        max-width: 100%;
        opacity: 0;
        position: relative;
        width: 18em;
    }

    #menu h2 {
        border-bottom: solid 2px rgba(255, 255, 255, 0.125);
        padding-bottom: 1em;
    }

    #menu .close {
        background-image: url("images/close.svg");
        background-position: 75% 25%;
        background-repeat: no-repeat;
        background-size: 2em 2em;
        border: 0;
        content: '';
        display: block;
        height: 4em;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-align: center;
        text-indent: 4em;
        top: 0;
        width: 4em;
    }

    #menu .links {
        list-style: none;
        margin-bottom: 1.5em;
        padding: 0;
    }

        #menu .links li {
            padding: 0;
        }

            #menu .links li a {
                border-radius: 5px;
                border: 0;
                display: block;
                font-family: Raleway, Helvetica, sans-serif;
                font-size: 0.8em;
                font-weight: 200;
                letter-spacing: 0.1em;
                line-height: 1.85em;
                padding: 0.75em 0;
                text-transform: uppercase;
            }

                #menu .links li a:hover {
                    background: #45558d;
                }

    @media screen and (max-width: 736px) {

        #menu .inner {
            max-height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }

            #menu .inner .close {
                background-size: 1.5em 1.5em;
            }

    }

body.is-menu-visible #page-wrapper {
    -moz-filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
    -ms-filter: blur(1.5px);
    filter: blur(1.5px);
}

body.is-menu-visible #menu {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

    body.is-menu-visible #menu .inner {
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }



/* Hero */
#hero {
    padding: 10em 0 4.75em 0;
    /* Photo by S O C I A L . C U T on Unsplash */
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url(images/unsplash_socialcut.jpg);
    background-size: auto, cover;
    background-attachment: fixed;
    background-position: center;
}

.hero-text {
    margin: 0 auto;
    width: 80em;
    text-align: right;
} 

#hero .headshot {
    padding-bottom: 2em;
}

#hero .headshot img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#hero h2 {
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-delay: 0.65s;
    -webkit-transition-delay: 0.65s;
    -ms-transition-delay: 0.65s;
    transition-delay: 0.65s;
    -moz-filter: blur(0);
    -webkit-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    font-size: 2.25em;
    margin-bottom: 0.8em;
    padding-bottom: 0.4em;
}

#hero p {
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -moz-filter: blur(0);
    -webkit-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.1em;
    line-height: 2;
    text-transform: uppercase;
}

@media screen and (max-width: 1280px) {

    #hero {
        padding: 7em 0 8.25em 0 ;
        background-color: #2e3141;
        background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../images/unsplash_socialcut.jpg");
        background-size: auto,
cover;
        background-position: center,
center;
        margin-bottom: -6.5em;
    }

}

@media screen and (max-width: 980px) {

    #hero {
        padding: 12em 3em 12.375em 3em ;
        margin-bottom: -4.75em;
    }

        #hero .headshot {
            width: 100%;
        }

}

@media screen and (max-width: 736px) {

    #hero {
        padding: 5em 2em 4.25em 2em ;
        margin-bottom: -2.5em;
    }

        #hero .headshot {
            margin: 0 0 1em 0;
        }

        #hero h2 {
            font-size: 1.5em;
        }

        #hero p {
            font-size: 0.8em;
        }

}


/* Projects Section */
#projects {
    padding-top: 50px;
    margin: 0 auto;
    width: 80em;
}

.project-list {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: start;
    justify-content: space-between;
}

.project-list article {
    padding: 1.75em 1.75em 0.1em 1.75em;
    background-color: #353849;
    border-radius: 5px;
    margin: 1.5em 3em 1.5em 0;
}

.project-list article .image {
    border-radius: 5px 5px 0 0;
    display: block;
    margin-bottom: 1.75em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    position: relative;
    width: calc(100% + 3.5em);
}

.project-list article .image img{
    border-radius: 5px 5px 0 0;
    width: 100%;
}

a.learn {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    margin: 0 0 2em 0;
}

/* Footer */
footer {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Form Styles */
form {
    display: block;
    margin: 0 0 2em 0;
}

form > .fields {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 3em);
    margin: -1.5em 0 2em -1.5em;
}

form > .fields > .field {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0 1.5em;
    width: calc(100% - 1.5em);
}

label {
    display: block;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 15px 0;
    text-transform: uppercase;
}

input {
    height: 2.5em;
}

input, textarea {
    appearance: none;
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: none;
    border: solid 2px rgba(255, 255, 255, 0.125);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

ul.actions {
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: .1em;
    padding-left: 0;
}

footer .copyright li {
    border-left: solid 2px rgba(255, 255, 255, 0.125);
    color: rgba(255, 255, 255, 0.35);
    display: inline-block;
    font-size: 0.9em;
    line-height: 1;
    margin-left: 1em;
    padding: 0;
    padding-left: 1em;
}

footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

footer .copyright li a {
    color: #ffffff;
    text-decoration: none;
}
